html {
    font-size: 100%;
}

body {
    background: white;
    color: #535353;
    font-size: 16px;
}

header {
    background: #0B486B;
    border-bottom: 4px solid #093d5b;
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

header h1 {
    font-size: 1.25rem;
}
header h1 small {
    font-size: 1rem;
}

header h2 {
    font-size: 1rem;
}

#weather {
    padding: 6rem 0;
}

#clima {
    text-align: center;
    height: 8.125rem;
}

#clima i {
    color: #3B8686;
    font-size: 8.125rem;
}

#temperature {
    font-size: 3.125rem;
    text-align: center;
}

#forecast {
    background: #e6e6e4;
    border-top: 1px solid #a9a9a8;
    width: 100%;
}

#forecast ul {
    display: inline-block;
}

.forecast_day {
    text-transform: uppercase;
}